.textpage {
	&__section {
		background-color: #fff;
		padding: 1.9rem 0 1.3rem;
		position: relative;
		&--grey {
			background-color: #f8f6f4;
		}
		&--2 {
			margin-top: -9.7rem;
			padding-top: 11.7rem;
			padding-bottom: 0;
			text-align: center;
		}
		&--3 {
			text-align: center;
			padding: 0.8rem 0 4.8rem;
		}
		&--4 {
			text-align: center;
			padding: 4.3rem 0 0;
		}
		&--5 {
			text-align: center;
		}
		@media @tablet {
			margin: 0;
			padding: 0;
		}
	}
	&__container {
		max-width: 100.8rem;
		margin: 0 auto;
		padding: 0 2rem;
		position: relative;
		z-index: 2;
	}
	&__media {
		margin: 2.4rem 0 0;
		@media @tablet {
			padding: 0;
			margin: 0;
			&--1 {
				top: 38vh;
				left: 2.4%;
				width: 37.7%;
				max-width: 37.7%;
			}
			&--2 {
				bottom: -24.2vh;
				left: auto;
				right: 2.3%;
				top: auto;
				width: 49.2%;
				max-width: 49.2%;
				display: block;
			}
			&--3 {
				top: 55vh;
				left: 3.5%;
				width: 43.3%;
				max-width: 43.3%;
			}
			&--4 {
				top: 80.9vh;
				right: 3.5%;
				max-width: 43.3%;
				width: 43.3%;
			}
			&--5 {
				left: 2.4%;
				bottom: -36.1vh;
				max-width: 95.2%;
				width: 95.2%;
			}
			&--6 {
				left: 5.4%;
				width: 41.5%;
				max-width: 41.5%;
				bottom: 25.8vh;
				// top: 89.6vh;
			}
			&--7 {
				right: 5.4%;
				width: 41.5%;
				max-width: 41.5%;
				bottom: 0;
				// top: 115.5vh;
			}
		}
	}
	&__content {
		padding-bottom: 2.9rem;
		position: relative;
		z-index: 4;
		@media @tablet {
			&--1 {
				padding: 7vh 6.7% 23.9vh 50.2%;
			}
			&--2 {
				padding: 35vh 14% 103vh;
			}
			&--3 {
				text-align: left;
				padding: 0 48% 48.7vh 0.4%;
			}
			&--4 {
				padding: 46.9vh 14% 106.9vh;
			}
			&--5 {
				padding: 7.2vh 14% 5.3vh;
			}
		}
	}
	&__text {
		&--3 {
			margin-top: -1.8rem;
			@media @tablet {
				margin-top: 0;
				padding: 2.1rem 3.1rem;
			}
		}
		&--4 {
			margin: -1.7rem 0 0;
			@media @tablet {
				margin: 2.6rem 0 0;
			}
		}
		@media @tablet {
		}
	}

	&__img {
		// display: inline-block;
		// vertical-align: bottom;
		// width: 100%;
		display: block;
		// max-width: none;
		@media @tablet {
			// opacity: .2;
		}
		// position: absolute;
		// background-clip: content-box;
		// bottom: 0;
		// left: 0;
		// top: 0;
		// transition: padding 300ms @easeOutQuad;
		// padding-right: 100%;
		// padding-right: 0;
		// .no-ios &:hover {
		// 	padding-right: 0;
		// }
	}
	&__more {
		margin: -1rem 0 0;
		@media @tablet {
			margin: 0.3rem 0;
		}
	}
}
