.app {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  &__page {
    position: relative;
    z-index: 1;
    height: inherit;
    width: inherit;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    display: none;
    transition: opacity 300ms @easeOutQuad;
    font-size: 0;
    white-space: nowrap;
    @media @tablet {
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
    }
    &.is-entering {
      display: block;
      @media @tablet {
        display: inline-block;
      }
    }
    &.is-active {
      opacity: 1;
      pointer-events: all;
      display: block;
      @media @tablet {
        display: inline-block;
      }
    }
    &.is-leaving {
      opacity: 0;
    }
  }
}
