.modal {
  &__container {
    z-index: 2;
    position: relative;
    @media @tablet {
      width: 100%;
      max-width: 103.2rem;
      display: inline-block;
      vertical-align: middle;
      margin: 5vh auto;
    }
  }
  &__dialog {
    color: @text;
    background-color: @white;
    font-size: @f;
    text-align: left;
    white-space: normal;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.5rem 2rem;
    @media @tablet {
      padding: 1.2rem 1.6rem;
    }
  }
}
