@offset: 0.5rem;

.form {
  &__row {
    margin: 0 -@offset;
    position: relative;
    display: flex;
    flex: 1 1 auto;
  }
  &__item {
    position: relative;
    padding: 0 @offset;
    margin: 1.2rem 0;
    vertical-align: top;
    position: relative;
    z-index: 1;
    width: 100%;
    flex: 1 1 auto;
  }
  &__input {
    font-size: @f;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 2;
    width: 100%;
    outline: 0;
    color: @text;
    transition: background-color linear 1ms 999s,
      background-position 400ms @easeOutQuad, border-color 400ms @easeOutQuad;
    resize: none;
    font-weight: 500;
    padding: 0.8rem 0;
    text-align: left;
    resize: none;
    background-repeat: no-repeat;
    background-size: 300% 1px;
    background-position: 0% 100%;
    border-bottom: none;
    background-image: linear-gradient(
      to right,
      #9c9c9c 0%,
      #9c9c9c 50%,
      @main 50%,
      @main 100%
    );
    &:focus {
      background-position: 100% 100%;
      & + .form__placeholder {
        transform: translate3d(0, -1.2rem, 0) scale(0.7);
        color: @main;
      }
    }
    &:not(:placeholder-shown) {
      & + .form__placeholder {
        transform: translate3d(0, -1.2rem, 0) scale(0.7);
        color: @main;
      }
    }
    &.has-error {
      background-image: linear-gradient(to right, @red 0%, @red 100%);
    }
    &::-ms-expand {
      display: none;
    }
  }
  &__placeholder {
    position: absolute;
    color: @greyLight;
    top: 0.8rem;
    left: @offset;
    pointer-events: none;
    z-index: 1;
    font-size: @f;
    transform-origin: 0 0;
    white-space: nowrap;
    transition: transform @easeOutQuad 100ms, color @easeOutQuad 200ms;
    &--rich {
      top: 5.4rem;
    }
    &.is-focused {
    }
    &.has-value {
      color: @grey;
      transform: translate3d(0, -1.6rem, 0) scale(0.7);
    }
    &.is-focused {
      transform: translate3d(0, -1.6rem, 0) scale(0.7);
      color: @main;
    }
  }
  &__caret {
    position: absolute;
    right: @offset;
    top: 2rem;
    pointer-events: none;
    z-index: 1;
    width: 0.8rem;
    height: 0.8rem;
    transition: transform @easeInOutQuad 200ms,
      border-color @easeInOutQuad 200ms;
    border-bottom: solid 2px @greyLight;
    border-right: solid 2px @greyLight;
    transform: rotate(45deg);
    &.is-focused {
      transform: translate3d(0, 0.5rem, 0) rotateX(180deg) rotate(45deg);
      border-color: @main;
      // &.has-value {
      //   transform: rotate(45deg);
      //   border-color: @greyLight;
      // }
    }
  }
  &__label {
    font-size: 1.4rem;
    flex: 0 0 50%;
  }
  &__control {
    display: block;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    transition: border-color 300ms @easeOutQuad,
      background-color 300ms @easeOutQuad;
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 1rem;
    left: @offset;
    border: solid 1px @greyLight;
    &:before {
      transition: opacity 300ms @easeOutQuad, transform 300ms @easeOutBack;
      content: '';
      position: absolute;
      top: 0.6rem;
      left: 0.6rem;
      width: 1rem;
      height: 0.8rem;
      border-bottom: solid 2px @white;
      border-left: solid 2px @white;
      opacity: 0;
      transform: rotate(-135deg) scale(0.1);
    }
    &.is-focused {
      border-color: @main;
    }
    &.has-value {
      background-color: @main;
      &:before {
        transform: rotate(-45deg) scale(1);
        opacity: 1;
      }
    }
  }
  &__native {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    z-index: -9;
    overflow: hidden;
    display: block;
    &:focus {
      & + .form {
        &__control {
        }
      }
    }
    &:checked {
      & + .form {
        &__control {
          background-color: @main;
          &:before {
            transform: rotate(-45deg) scale(1);
            opacity: 1;
          }
        }
      }
    }
    &[disabled] {
      cursor: not-allowed;
      & + .form {
        &__control {
          cursor: not-allowed;
          border-color: #bbb;
          & + .form {
            &__inlabel {
              cursor: not-allowed;
              color: #9c9c9c;
            }
          }
        }
      }
    }
  }
  &__inlabel {
    font-size: @f;
    cursor: pointer;
    display: block;
    line-height: 1.29;
    padding-left: 3.3rem;
    padding: 1.2rem 1rem 0.3rem 3.3rem;
  }
}
