.flag {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: unit((4 / 3), em);
  line-height: 1em;
  &:before {
    content: "\00a0";
  }
  &--squared {
    width: 1em;
  }
}

.flag-icon(lt);
.flag-icon(eu);
.flag-icon(ru);
.flag-icon(gb);
.flag-icon(us);
.flag-icon(pl);

.flag-icon(@country) {
  .flag--@{country} {
    background-image:~"url(../img/flags/4x3/png/@{country}.png)";
    background-image:linear-gradient(transparent, transparent),
    ~"url(../img/flags/4x3/svg/@{country}.svg)";
    &.flag--squared {
      background-image:~"url(../img/flags/1x1/png/@{country}.png)";
      background-image: linear-gradient(transparent, transparent),
      ~"url(../img/flags/1x1/svg/@{country}.svg)";
    }
  }
}