.parsley {
  &-success {}
  &-error {
  }
  &-errors-list {
    color: @red;
    font-size: 1.2rem;
    position: absolute;
    top: 100%;
    left: 2rem;
    &.filled {}
  }
  &-required {}
  &-type {}
}