._bw- {
  .generator(border-width, 0 1 2 3, '', px);
}

._btw- {
  .generator(border-top-width, 0 1 2 3, '', px);
}

._brw- {
  .generator(border-right-width, 0 1 2 3, '', px);
}

._bbw- {
  .generator(border-bottom-width, 0 1 2 3, '', px);
}

._blw- {
  .generator(border-left-width, 0 1 2 3, '', px);
}