// USAGE:
// .generator(PROPERTY, VALUES, 'LABELS OR EMPTY', 'UNIT OR EMPTY', BREAKPOINTS OR EMPTY);
._d- {
  .generator(display, block inline-block none, b ib n);
  &ib {
  	vertical-align: middle;
  	margin-right: -0.25em;
  }
}