._m- {
  .generator(margin, 0 5 10 15 20 30, '', px);
  &auto {
    margin-left: auto;
    margin-right: auto;
  }
}

._ml- {
  .generator(margin-left, 0 5 10 15 20 30, '', px);
}

._mr- {
  .generator(margin-right, 0 5 10 15 20 30, '', px);
}

._mt- {
  .generator(margin-top, 0 5 10 15 20 30, '', px);
}

._mb- {
  .generator(margin-top, 0 5 10 15 20 30, '', px);
}

._mv- {
  .generator(margin-top, 0 5 10 15 20 30, '', px);
  .generator(margin-bottom, 0 5 10 15 20 30, '', px);
}