@f: 1.6rem;

@tab: 769px;
@lap: 1279px;
@desk: 1441px;

@tablet: ~"only screen and (min-width: @{tab})";
@laptop: ~"only screen and (min-width: @{lap})";
@desktop: ~"only screen and (min-width: @{desk})";

@main: #bea597;
@mainActive: #978560;
@mainFont: 'Graphik';

@sec: #f1dad0;
@secActive: blue;
@secFont: 'GTSectraDisplay';

@red: #a71c1c;

@black: #1f1f1f;
@white: #ffffff;

@greyLighter: #9c9c9c;
@greyLight: #7a7a7a;
@grey: #434343;
@greyDark: #3a3a3a;
@greyDarker: #262626;

@bg: @white;
@text: @black;