// Fonts 
@import 'fonts';
.font-main() {
  font-family: @mainFont;
}
.font-sec() {
  font-family: @secFont;
}
// standard normalize import
@import 'normalize';
// reset form inputs, box-sizing etc.
@import 'reset';
// global animations & transitions
@import 'animations';
// raw element styling
@import 'base';