@keyframes bounce {
	0% {
		transform: translate3d(-60%,10%,0) scale(.9);
	}
	30% {
		transform: translate3d(-30%,5%,0) scale(.95);
	}
	50% {
		transform: translate3d(0,0,0) scale(1);
	}
	70% {
		transform: translate3d(30%,5%,0) scale(.95);
	}
	100% {
		transform: translate3d(60%,10%,0) scale(.9);
	}
}

@keyframes hover {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 5rem, 0) scale(1.05);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes hoverMin {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 2.5rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}