@base: 10; // base font size in pixels
@break: 1260; // design size
@scale: 20; // viewport scale factor

@vw: unit(1000 / (100 / @scale) / @break, vw);
@fsz: unit((100 - @scale) / 100 * @base, px);

html {
  background-color: @bg;
  color: @text;
  font-size: unit(@base, px);
  // @media screen and (min-width: unit(@break, px)) {
  //   font-size: ~'calc(@{vw} + @{fsz})';
  // }
}


body {
  background-color: @bg;
  color: @text;
  font-size: @f;
  position: relative;
  line-height: 1.5;
  font-weight: 300;
  height: 100%;
  .font-sec();
  ::-webkit-selection {
    color: @white;
    background-color: @sec;
  }
  :-moz-selection {
    color: @white;
    background-color: @sec;
  }
  ::selection {
    color: @white;
    background-color: @sec;
  }
  ::-webkit-input-placeholder,
  :-moz-placeholder,
  :-ms-input-placeholder {
    color: @text;
    transition: all 280ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

a {
  color: @main;
  &[href^='tel'] {
    color: inherit;
    text-decoration: none;
  }
}

table {
  max-width: 100%;
  a {
    text-decoration: underline;
  }
}

tr {
  vertical-align: top;
}

td {
  text-align: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'GTSectraDisplay', sans-serif;
  font-weight: 400;
  line-height: round(42/36, 3);
}

h1 {
  font-size: 3.6rem;
  @media @tablet {
    line-height: 1;
    font-size: 7.2rem;
  }
}

h2 {
  font-size: 3.6rem;
  @media @tablet {
    font-size: 4.8rem;
  }
}

h3 {
  line-height: round(30/24, 4);
  font-size: 2.4rem;
  @media @tablet {
    line-height: round(36/30, 4);
    font-size: 3rem;
  }
}

h4 {
  letter-spacing: 0.05em;
}

h5 {
  font-size: 1.6rem;
  margin: 1.5em 0;
  font-weight: 400;
}

p {
  margin: 1.5em 0;
  img {
    width: 100%;
  }
}

svg:not(:root) {
  overflow: visible;
}

option {
  width: 100%;
  display: block;
}

blockquote {
  margin: 3rem 0 0;
  padding: 0.8rem 0;
  color: @text;
  font-family: 'GTSectraDisplay', sans-serif;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  background-image: url('../img/icon--quotes.svg');
  background-size: 7.4rem 6rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @media @tablet {
    background-size: 11.2rem 9rem;
    margin-top: 2.1rem;
    padding: 7.2rem 0;
    font-size: 3rem;
  }
}

ul {
  margin: 0;
  list-style-type: none;
}

li {
  margin: 0;
}

select {
  display: inline-block;
  width: 100%;
}
