@font-face {
  font-family: 'GTSectraDisplay';
  src: url('../fonts/GTSectra/GTSectraDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTSectraDisplay';
  src: url('../fonts/GTSectra/GTSectraDisplay-RegularItalic.woff')
    format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GTSectraDisplay';
  src: url('../fonts/GTSectra/GTSectraDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GTSectraDisplay';
  src: url('../fonts/GTSectra/GTSectraDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
